input::-webkit-file-upload-button {
  padding: 5px 1rem;
  border: 2px solid #f7a582;
  border-radius: 10px;
  font-weight: 500;
  margin-right: 15px;
  cursor: pointer;
}

button:disabled {
  background-color: lightgray;
}
